<div class="w3-container w3-padding-64 w3-center" id="team">

   	
    
    <table id="customers">
        <tr>
        <% @orders.id do |order| %>  
            <td>Order reference for the order you just placed <%= @order.id %></td>
        <% end %>
        </tr>
    </table>    
    
    
    
    <table class="w3-table w3-border">
        <tr>
            <td colspan="4"><h3><b>Order details</b></h3></td>
   
        <% @total = 0 %>
        <% @orderitems.each do |id,quantity| %>
            <tr>
                <% item = Orderitem.find_by_id(id) %>
                <td><%= item.title %></td>
                <td>Qty: <%= item.quantity %></td>
                <td class="w3-right-align"><%=number_to_currency(item.price, :unit => "€")%></td>
                <td class="w3-right-align"><%= number_to_currency(item.quantity * item.price, :unit => "€") %></td>
            </tr>
            <% timx = (item.quantity * item.price)%>
            <% @total += timx %>
        <% end %>
        
        <tr>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>Order Total:</td>
            <td class="w3-right-align">&euro; <%= @total %></td>
        </tr>
        
        <tr>
            <td colspan="2"></td>
            <td>Total Weight of Products:</td>
            <% @totalw = 0 %>
            <% @cart.each do |id, quantity| %>
            <% product = Product.find_by_id(id) %>
            
            <% @totalw += quantity * product.weight %>
             <% end %>
            <td class="w3-right-align"><%= @totalw %>(Kg)</td>
        </tr>

        
        <% if current_user.loyalcust == true %>
            <td colspan="2"></td>
            <td>Discount for loyal customers:</td>
            <td class="w3-right-align">10% <% @total = @total * 0.9 %></td>
        <% end %>
        
        <tr>
            <td colspan="2"></td>
            <% shipping = 0 %>
            <% if @total > 100 %>
                <% shipping = 0 %>
            <% else %>
                <%if @totalw >= 20 %>
                <%shipping = 25 %>
                <% else %>
                <%shipping = 5%>
                <%end%>
                
            <% end %>
            
         
            
            
            
            <% if @total > 100 %>
                <td>You are aligible for free shipping</td>


           <% else %>
               <td>Shipping</td>
           <% end %>
            <td class="w3-right-align">&euro;<%= shipping %></td>
        </tr>
        
        <% @overall = shipping + @total%>
        
        <tr>
            <td colspan="2"></td>
            <td><b>Grand Total:</b></td>
            <td class="w3-right-align"><b>&euro; <%= @overall %></b></td>
        </tr>
        
        <tr>
            <td colspan="3"></td>
            <td class="w3-right-align">
                <!-- Paypal button --->
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_xclick">
                    <input type="hidden" name="business" value="sb-43xm74622398@business.example.com">
                    <input type="hidden" name="item_name" value="Order Number <%= @order.id %>">
                    <input type="hidden" name="currency_code" value="EUR">
                    <input type="hidden" name="amount" value="<%= @overall %>">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
                    <input type="hidden" name="return" value="https://be8a03d039524ceeaf85d9ba0a6c5ade.vfs.cloud9.us-east-1.amazonaws.com/aboutSend/<%= @order.id %>" >
                    <input type="hidden" name="notify_url" value="https://be8a03d039524ceeaf85d9ba0a6c5ade.vfs.cloud9.us-east-1.amazonaws.com/aboutSend/<%= @order.id %>">
                </form> 
            </td>
        </tr>
        
    </table>

</div>
