<div class="w3-container w3-responsive w3-padding-64">
<% if @cart.empty? %>
<div class="w3-center">
<h2 style="margin-top:10%;">You don't have anyting in your cart right now!</h2><br>

  <div class="w3-border">
         <br><br>
       <% @orderitems.each do |orderitem| %>
      <tr>
        <td><%#= orderitem.created_at %></td>
       
        <td>You viewed this last time: <%= orderitem.title %></td><br>
    
       <td><%#= orderitem.order_id %></td>
       <% m1 = "DeLonghi - La Specialista Espresso Machine" %>
       <% m2 = "Breville - The Barista Express Espresso Machine" %>
       <% m3 = "Gevi - Professional Espresso Machine" %>
       <% m4 = "Bowuttd - Espresso Machine Coffee Maker" %>
       <% m5 = "Barsetto - Espresso Machine" %>
       
       <% c1 = "Café Britt - Costa Rican Tres Rios Valdivia Coffee" %>
       <% c2 = "Lavazza - Organic Tierra" %>
       <% c3 = "Café Britt - Costa Rican Poas Tierra Volcanica Coffee" %>
       <% c4 = "Lavazza - Kafa Forest Coffee" %>
       <% c5 = "Cafe Don Pablo - Gourmet Coffee" %>
       <% c6 = "Presto- Robusta Rocket Roast" %>
    
       <% g1 = "Shardor - Electric Coffee Grinder" %>
       <% g2 = "DeLonghi - Coffee Grinder" %>
       <% g3 = "DeLonghi - Dedica Coffee Grinder" %>
       <% g4 = "Breville - The Smart Grinder Pro" %>
       <% g5 = "Cuisinart - Supreme Grind" %>  

       <% mf1 = "Vremi - Milk Frother" %>
       <% mf2 = "LYH - Milk Frother" %>

       <% mj1 = "DeLonghi - Milk Frothing Jug" %>
       <% mj2 = "Breville - Milk Jug" %>
       <% mj3 = "Star Coffee - Frothing Pitcher" %>
       <% mj4 = "Camaka - Latte Art" %>
               
       
       
       
       
       <% if orderitem.title == m1 || orderitem.title == m2 || orderitem.title == m3 || orderitem.title == m4 || orderitem.title == m5 %>
       <%= link_to 'Some coffee beans would go nicely with this','/category/Coffee%20Beans' %><br><br>
       <% else %>
       <% end %>
       
        <% if orderitem.title == g1 || orderitem.title == g2 || orderitem.title == g3 || orderitem.title == g4 || orderitem.title == g5 %>
       <%= link_to 'Have you thought about getting a Milk Frother?','/category/Milk%20Frother' %><br><br>
       <% else %>
       <% end %>

       <% if orderitem.title == mj1 || orderitem.title == mj2 || orderitem.title == mj3 || orderitem.title == mj4 %>
       <%= link_to 'Why not get a frother for this?','/category/Milk%20Frother' %><br><br>
       <% else %>
       <% end %>       

        <% if orderitem.title == mf1 || orderitem.title == mf2 %>
       <%= link_to 'Have you got a jug for this?','/category/Milk%20Frothing%20Pitcher' %><br><br>
       <% else %>
       <% end %>       
       
       
         <% if orderitem.title == c1 || orderitem.title == c2 || orderitem.title == c3 || orderitem.title == c4 || orderitem.title == c5 || orderitem.title == c6 %>
       <%= link_to 'Have you got something to grind these?','/category/Grinder' %><br><br>
       <% else %>
       <% end %>
       
       
       
      </tr>
    <% end %>
    </div><br><br>
    
    
    <a href='/orders' class="w3-button w3-teal w3-hover-black">View all previous orders</a><br>
    
    <br>
 



<h2>Check out our most popular products below <i class="fa fa-smile-o"></i></h2>

    </div>
<%=render 'layouts/popular'%>
<a href="/products" class="w3-button w3-teal w3-hover-black">All Products</a>

<%else%>




<p id="notice"><%= notice %></p>






    
    <table class="w3-table w3-striped w3-bordered">
        <% total = 0 %>  
        <% @totalq = 0 %>
        <% @totalw = 0 %>
       
        <% @cart.each do |id, quantity| %>
        
        <% product = Product.find_by_id(id) %>
        
        <tr>

        </tr>
            
            
        <tr>            <td>
                <%= link_to (image_tag product.image_url, :style =>"height:50px;width:50px;"), product %>
            </td>
            <td>
            <%= link_to product.title, product, :style =>"text-decoration:none;" %>
            </td>
        
            
            <td><a href="/remove/<%= product.id %>" class="w-3button w3-hover-black w3-teal" style="text-decoration:none;">X</a></td>
            <td>Qty: <%= quantity %></td>
            <td><%= product.weight %>Kg</td>
            <td><a href="/add/<%= product.id %>" ><i class='fas fa-arrow-alt-circle-up w3-teal w3-hover-black'></i></a></td>    
            <td><a href="/reduce/<%= product.id %>" ><i class='fas fa-arrow-alt-circle-down w3-teal w3-hover-black'></i></a></td>
            <td><%= number_to_currency(product.price, :unit =>"€") %> per item</td>
            <td><%= number_to_currency(quantity * product.price, :unit =>"€") %> total</td>
            
            
            <tr>
            
            
  
        
            <% total += quantity * product.price %>
            <% @totalq += quantity %>
            <% @totalw += quantity * product.weight %>
           
           <% session[:howmuch] = @totalq %>
           <% session[:gt] = total %>
          
         <% end %>
        

          
          
          
          

           
    </table>
     
    <table class="w3-table w3-bordered">         
            <br>
            <tr><td class="w3-right-align"><p><strong>Total Quantity: <%= @totalq %></strong></p></td></tr>
            <tr><td class="w3-right-align"><p><strong>Total Weight: <%= @totalw %>Kg</strong></p></td></tr>
            <tr><td class="w3-right-align"><p><strong>Grand Total: <%= number_to_currency(total, :unit => "€") %></strong></p></td></tr>
            
            
         
    </table>
    
    

             
            <a href="/products" class="w3-button w3-teal w3-hover-black w3-border">Continue Shopping</a> 
            
            
            <a href="/cart/clearcart" class="w3-button w3-teal w3-hover-black">Empty Cart</a> 
            
            <!--<a href="/checkout" class="w3-button w3-teal w3-hover-black">Go to checkout</a>-->
            
            <%= link_to 'Enter Shipping Address and Checkout', new_shipping_path, class:"w3-button w3-teal w3-hover-black" %>
         
      </div>

<% end %>