 <% if user_signed_in? %>
    
    <% if current_user.admin? %>

        <div class="w3-container w3-padding-64 w3-center" id="team">
            <h1>Registered users</h1>
            
            
            
                
                
                
            <table class="w3-table-all w3-hoverable w3-hide-small">
                <thead>
                  <tr>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Admin status</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>
              
                <tbody>
                  <% @users.each do |user| %>
                    <tr>
                      <td><%= user.id %></td>
                      <td><%= user.name %></td>
                      <td><%= user.email %></td>
                      <td><%= user.admin %></td>
                      <td><a href="/upgrade/<%= user.id %>" class="w3-button w3-teal w3-hover-red">Make Admin</a></td>
                      <td><a href="/downgrade/<%= user.id %>" class="w3-button w3-teal w3-hover-red">Remove admin status</a></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            
            
        </div>
        
        
        <!--This part will be hidden on large screens-->
        <div class="w3-container ">
    
            
            
            <% @users.each do |user| %>
            <table class="w3-table-all w3-hide-large w3-hide-medium">
                <thead>
                    <tr>
                      <th>Name: <%= user.name %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>User Id: <%= user.id %></td>
                    </tr>
                    <tr>
                        <td>Email: <%= user.email %></td>
                    </tr>
                    <tr>
                        <td>Admin status: <%= user.admin %></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/upgrade/<%= user.id %>" class="w3-button w3-teal w3-hover-red">Make Admin</a>
                            <a href="/downgrade/<%= user.id %>" class="w3-button w3-teal w3-hover-red">Remove admin status</a>
                        </td>
                    </tr>
                </tbody><br>
               
                   
                
            <% end %>
        </div>
        
    <% end %>


<% end %>
    