 <% if user_signed_in? %>
    
    <% if current_user.admin? %>

        <div class="w3-container w3-padding-64 w3-center" id="team">
            <h1>Registered users</h1>
            
            
            
                
                
                
            <table class="w3-table-all w3-hoverable w3-hide-small">
                <thead>
                  <tr>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Admin status</th>
                    <th>Change admin status</th>
                    <th>Loyal cust.</th>
                    <th>Add/Remove loyalty bonus</th>
                    
                  </tr>
                </thead>
              
                <tbody>
                  <% @users.each do |user| %>
                    <tr>
                      <td><%= user.id %></td>
                      <td><%= user.name %></td>
                      <td><%= user.email %></td>
                      <td><%= user.admin %></td>
                      
                      <td ><a href="/upgrade/<%= user.id %>" class="w3-button w3-teal w3-hover-red"><i class="fa fa-arrow-circle-o-up fa-2x" aria-hidden="true"></i></a>
                      <a href="/downgrade/<%= user.id %>" class="w3-button w3-teal w3-hover-red"><i class="fa fa-arrow-circle-o-down fa-2x" aria-hidden="true"></i></a></td>
                      <td><%= user.loyalcust %></td>
                      <td>
                          <a href="/isloyal/<%= user.id %>" class="w3-button w3-teal w3-hover-red"><i class="fa fa-arrow-circle-o-up fa-2x" aria-hidden="true"></i></a>
                          <a href="/isnotloyal/<%= user.id %>" class="w3-button w3-teal w3-hover-red"><i class="fa fa-arrow-circle-o-down fa-2x" aria-hidden="true"></i></a>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            
            
        </div>
        
        
        <!--This part will be hidden on large screens-->
        <div class="w3-container w3-hide-large w3-hide-medium" id="team">
    
            
            
            <% @users.each do |user| %>
            <table class="w3-table-all w3-hide-large w3-hide-medium w3-container">
                <thead>
                    <tr>
                      <th>Name: <%= user.name %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>User Id: <%= user.id %></td>
                    </tr>
                    <tr>
                        <td>Email: <%= user.email %></td>
                    </tr>
                    <tr>
                        <td>Admin status: <b><%= user.admin %></b></td>
                    </tr>
                    <tr>
                        <td class="w3-center">Set admin status:
                          <a href="/upgrade/<%= user.id %>" class="w3-button w3-teal w3-hover-red"><i class="fa fa-arrow-circle-o-up fa-2x" aria-hidden="true"></i></a>
                          <a href="/downgrade/<%= user.id %>" class="w3-button w3-teal w3-hover-red"><i class="fa fa-arrow-circle-o-down fa-2x" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Loyal cust.: <b><%= user.loyalcust %></b></td>
                    </tr>
                    <tr>
                        <td class="w3-center">Set loyalty bonus:
                            <a href="/isloyal/<%= user.id %>" class="w3-button w3-teal w3-hover-red"><i class="fa fa-arrow-circle-o-up fa-2x" aria-hidden="true"></i></a>
                            <a href="/isnotloyal/<%= user.id %>" class="w3-button w3-teal w3-hover-red"><i class="fa fa-arrow-circle-o-down fa-2x" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody><br>
               
            </table>      
                
            <% end %>
        </div>
        
    <% end %>


<% end %>
    