

<p id="notice"><%= notice %></p>

<% @site_contents.each do |site_content| %>


<!--header-->
<div id="header_about" class="w3-display-container w3-animate-opacity">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom"> 

<div class="typewriter">
    <div class="typewriter-text-admin"><%= site_content.title %></div>
</div><br>
  </div>
  </div>
</div>
<!--header/end-->

<!-- About us -->
<br>
<div class="headers"><%= site_content.header1 %></div>
<div class="descriptions"><%= site_content.description1 %></div>
<br>
<div class="headers"><%= site_content.header2 %></div>
<div class="descriptions"><%= site_content.description2 %></div>
<!-- About us/end -->



<!-- Contact Container -->
<div class="w3-container w3-padding-64" id=contact>
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i> <%= site_content.address %></p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i> <%= site_content.phonenumber %></p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i> <%= site_content.email %></p>
    </div>
      
<!----- Partial Contact Form ----->
<%= render 'contactforms/form', contactform: @contactforms %>

<!----- Partial Contact Form------->

     
    </div>
  </div>
</div>


        <!------- Access to admin only
        Only leaving Edit button showing. Admins can edit the content currently on the page.
        ----->
         <% if user_signed_in? %>
    
          <% if current_user.admin? %>
            <%#= link_to 'Show', site_content, :class => "button", :role => "button" %>
            <%= link_to 'Edit', edit_site_content_path(site_content), :class => "w3-button w3-teal w3-hover-black", :role => "button" %>
            <%#= link_to 'Destroy', site_content, method: :delete, data: { confirm: 'Are you sure?' },:class => "button", :role => "button" %>
            <!--Removing below link for now as currently we don't have functionality to show new content -->
            <%#= link_to 'New Site Content', new_site_content_path, :class => "button", :role => "button"%>
          <% end %>

        <% end %>
    <% end %>
</table>

