  
    
    <%= form_for(contactform) do |f| %>
  <% if contactform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contactform.errors.count, "error") %> prohibited this contactform from being saved:</h2>

      <ul>
      <% contactform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
 
     
    <div><span class="w3-xlarge w3-border-teal w3-bottombar ">Inquire About Cconnect</span></div>
    
    
      <div class="field"> 
        <p>Name</p> 
        <%#= f.label :contactname %>
        <%= f.text_field :contactname, class:"width-50" %> 
      </div>
      
        <div class="field">
        <p>Email address </p> 
        <%#= f.label :contactemail %>
        <%= f.text_field :contactemail, class:"width-50" %>
      </div>
      
      <div class="field"> 
        <p> Message </p>
        <%#= f.label :contactmessage %>
        <%= f.text_area :contactmessage, class:"width-50" %> 
      </div>  
      
      <div class="actions">
    <%= f.submit "Drop us a line", class:"w3-center width-30 w3-button w3-teal w3-hover-black" %>
  </div>

<% end %>


