<div class="w3-container w3-padding-64 w3-center" id="team">
  <br><br>
  <p id="notice"><%= notice %></p>

<h1>Contact us forms</h1>

 <table class="w3-table-all w3-hoverable w3-mobile w3-half ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactforms.each do |contactform| %>
      <tr>
        <td><%= contactform.contactname %></td>
        <td><%= contactform.contactemail %></td>
        <td><%= contactform.contactmessage %></td>
        
        <td><%#= link_to 'Show', contactform %></td>
        <td><%= link_to '<i class="fas fa-edit fa-lg" title="Edit"></i>'.html_safe, edit_contactform_path(contactform) %></td>
        <td><%= link_to '<i class="fas fa-trash-alt fa-lg" title="Delete"></i>'.html_safe, contactform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

<%#= link_to 'New Contactform', new_contactform_path %>
