<p id="notice"><%= notice %></p>

<p>
  <strong>Contactname:</strong>
  <%= @contactform.contactname %>
</p>

<p>
  <strong>Contactemail:</strong>
  <%= @contactform.contactemail %>
</p>

<p>
  <strong>Contactmessage:</strong>
  <%= @contactform.contactmessage %>
</p>

<%= link_to 'Edit', edit_contactform_path(@contactform) %> |
<%= link_to 'Back', contactforms_path %>
