<!------ meta_tags ------->
<% set_meta_tags noindex: true,
                 site: 'Cconnect',
                 title: 'Log in'%>
<!------------------------>
<div class="w3-container w3-padding-64 w3-center" id="team">
  <h2>Log in</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  <br>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  
    <div class="actions"><br>
      <%= f.submit "Log in", class:"w3-button w3-teal w3-hover-black" %>
    </div>
  <% end %>
  <br><br>
  <%= render "devise/shared/links" %>
</div>