<p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Title:</strong>
  <%= @site_content.title %>
</p>

<p>
  <strong>Header1:</strong>
  <%= @site_content.header1 %>
</p>

<p>
  <strong>Header2:</strong>
  <%= @site_content.header2 %>
</p>

<p>
  <strong>Description1:</strong>
  <%= @site_content.description1 %>
</p>

<p>
  <strong>Description2:</strong>
  <%= @site_content.description2 %>
</p>

<p>
  <strong>Image:</strong>
  <%= @site_content.image %>
</p>

<p>
  <strong>Address:</strong>
  <%= @site_content.address %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @site_content.phonenumber %>
</p>


<p>
  <strong>Email:</strong>
  <%= @site_content.email %>
</p>





<%= link_to 'Edit', edit_site_content_path(@site_content) %> |
<%= link_to 'Back', site_contents_path %>

