<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @price.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @price.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @price.value %>
</p>

<p>
  <strong>Value2:</strong>
  <%= @price.value2 %>
</p>


<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
