<p id="notice"><%= notice %></p>
  
<% if user_signed_in? && current_user.admin %>

      
      
      <h1>Categories</h1>
      
      
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.title %></td>
              <td><%= category.description %></td>
              <td><%= link_to 'Show', category %></td>
              
              <td><%= link_to 'Edit', edit_category_path(category) %></td>
              <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
      
      <%= link_to 'New Category', new_category_path %>

<%else%>
<br><br><br>
<div class="w3-container w3-padding-64 w3-center" sytle="padding-top:60px;" id="team">
   <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-hover-teal" title="Brands"><%=link_to "All Brands","/brands",class:"tdnone"%></link_to> <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-teal">
      <%=render 'layouts/brands'%>
    </div>  
  </div>
  
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-hover-teal" title="Categories"><%=link_to "All Categories","/categories",class:"tdnone"%></link_to> <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-teal">
      <%=render 'layouts/categories'%>
    </div>  
  </div>
  
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-hover-teal" title="Prices"><%=link_to "All Prices","/prices",class:"tdnone"%></link_to> <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-teal">
      <%=render 'layouts/prices'%>
    </div>  
  </div>
  
   <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-hover-teal" title="Weights"><%=link_to "All Weights","/weights",class:"tdnone"%></link_to> <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-teal">
      <%=render 'layouts/weights'%>
    </div>  
  </div>
</div>
<%end%>