<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @filter.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @filter.price %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @filter.brand %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @filter.weight %>
</p>

<%= link_to 'Edit', edit_filter_path(@filter) %> |
<%= link_to 'Back', filters_path %>
