
  
<!------ meta_tags ------->
<% set_meta_tags site: 'Cconnect',
                 title: 'Products',
                 description: 'We offer a wide range of Arabica and Robusta coffee beans. Expresso Machines, Grinders, Milk pitchers and Milk Frothers are also available on Cconect.com' %>
<!--------------------------->
<div class="w3-container w3-padding-64 w3-center" sytle="padding-top:60px;" id="team">


  <br>
   <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-hover-teal" title="Brands"><%=link_to "All Brands","/brands",class:"tdnone"%></link_to> <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-teal">
      <%=render 'layouts/brands'%>
    </div>  
  </div>
  
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-hover-teal" title="Categories"><%=link_to "All Categories","/categories",class:"tdnone"%></link_to> <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-teal">
      <%=render 'layouts/categories'%>
    </div>  
  </div>
  
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-hover-teal" title="Prices"><%=link_to "All Prices","/prices",class:"tdnone"%></link_to> <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-teal">
      <%=render 'layouts/prices'%>
    </div>  
  </div>
  
   <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-hover-teal" title="Weights"><%=link_to "All Weights","/weights",class:"tdnone"%></link_to> <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-teal">
      <%=render 'layouts/weights'%>
    </div>  
  </div>
  
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-hover-teal" title="Testprices"><%=link_to "Prices","/testprices",class:"tdnone"%></link_to> <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-teal">
      <%=render 'layouts/testprices'%>
    </div>  
  </div>
  
  <% if user_signed_in? && current_user.admin %>
  <br>
  <div><%= link_to 'New Brand', new_brand_path, :class =>"w3-button w3-teal", :role=>"button"  %>
      <%= link_to 'New Price', new_price_path, :class =>"w3-button w3-teal", :role=>"button"  %>
      <%= link_to 'New Category', new_category_path, :class =>"w3-button w3-teal", :role=>"button"  %>
      <%= link_to 'New Weight', new_weight_path, :class =>"w3-button w3-teal", :role=>"button"  %>
  </div>
  <% end %>
  <div id="productsContainer" class="responsive">
  
    <h1>All Products</h1>
    
    <br>
    <% @products.each do |product| %>
    <div class = "producthols">
        <div><h3><%= product.title %></h3></div>
        <%= link_to (image_tag product.image_url, :class => "productholsIm", :style => "height:200px; width:200px"), product %>
        <div><p><%= product.description %></p></div>
        <div>Price: <%=number_to_currency(product.price, :unit=> "€")%></div>
        <div>Category: <%= product.category %></div>
        <div>Brand: <%= product.brand %></div>
        <div>Weight: <%= product.weight %> kg</div>
        
        <p>
         
          
           <% if user_signed_in? %>
              <% if current_user.admin? %>
                <%= link_to 'Edit', edit_product_path(product), :class => "w3-button w3-teal", :role => "button" %>
                <%= link_to 'Destroy',  product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "w3-button w3-teal", :role => "button" %>
                <%= link_to 'Show', product, :class => "w3-button w3-teal", :role => "button" %>
              <% end %>
              <a href="/cart/<%= product.id %>" class="w3-button w3-teal">Add To Cart</a>
            <% else %>
              <a href="/cart/<%= product.id %>" class="w3-button w3-teal">Add To Cart</a>
          <% end %>
        </p>
    </div>
    
    
    <% end %>

<br>



<% if session[:login] == 1 %>    
<%= link_to 'New Product', new_product_path, :class =>"w3-button w3-teal", :role=>"button"%>
<% end %>
</div>