<p id="notice"><%= notice %></p>
  
  <div id="productsContainer">
  
    <h1>Products</h1>
    <% @products.each do |product| %>
    <div class = "producthols">
        <h1><%= product.title %></h1>
        <%= link_to (image_tag product.image_url, :class => "productholsIm", :style => "height:100px; width:100px"), product %>
        <p><%= product.description %></p>
        <p>Price: <%=number_to_currency(product.price, :unit=> "€")%>
        Category: <%= product.category %>
        Brand: <%= product.brand %>
        <br>
        Weight: <%= product.weight %> kg</p>
        
        <p>
          <%= link_to 'Show', product, :class => "button", :role => "button" %>
          <a href="/cart/<%= product.id %>" class="button">Add To Cart</a>
          
          <% if session[:login] == 1 %> 
            <%= link_to 'Edit', edit_product_path(product), :class => "button", :role => "button" %>
            <%= link_to 'Destroy',  product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %>
          <% end %>
        </p>
    </div>
       
    
    <% end %>
  

<br>

<% if session[:login] == 1 %>    
<%= link_to 'New Product', new_product_path %>
<%end%>