<div class="w3-container" style="margin-top:5%;">

<h2 style="text-align:center;border-bottom:2px solid teal;border-top:2px solid teal;">Popular Products</h2>

<table style="padding:10px;margin-top:3%;margin-bottom:10px;">
  <% @products.limit(5).order(:id).each do |product| %>
      <tr>
        <td style="padding:10px;width:50%;" class="w3-hover-teal">
          <div style="float:left;margin-right:50px;">
            <%= link_to (image_tag product.image_url, :style => "height:100px; width:100px"), product %>
          </div>
          <div style="text-decoraction:none;">
            <%= link_to product.title, product, :style => "text-decoration:none;font-weight:900;border-top:1px solid teal;border-bottom:1px solid teal" %>
          </div>
          <div>
            <p><%= product.description %></p>
          </div>  
          <div>
             <p><%= number_to_currency(product.price, :unit => "€") %></p>
          </div>
          <div>
            <a href="/cart/<%= product.id %>" class="w3-button w3-border w3-teal ">Add To Cart</a><p></p>
            <% if user_signed_in? %>
    
              <% if current_user.admin? %>
                <%= link_to 'Edit', edit_product_path(product) %>
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            <% else %>
            
              
              
              <% end %>
            
        </div>
        </td>
      </tr>
    <% end %>
</table>
<div class="w3-row">