<table style="padding:10px;margin-top:10px;margin-bottom:10px;">
  <% @products.limit(5).order(:id).each do |product| %>
      <tr>
        <td style="padding:10px;width:50%;" class="w3-hover-teal">
          <div style="float:left;margin-right:50px;">
            <%= link_to (image_tag product.image_url, :style => "height:100px; width:100px"), product %>
          </div>
          <div style="text-decoraction:none;">
            <%= link_to product.title, product %>
          </div>
          <div>
            <%= product.description %>
          </div>  
          <div>
             <%= number_to_currency(product.price, :unit => "€") %>
          </div>
          <div>
            <a href="/cart/<%= product.id %>" class="w3-button w3-border w3-teal ">Add To Cart</a>
            <% if user_signed_in? %>
    
              <% if current_user.admin? %>
                <%= link_to 'Edit', edit_product_path(product) %>
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            <% else %>
            
              
              
              <% end %>
            
        </div>
        </td>
      </tr>
    <% end %>
</table>
